{% load i18n %}
<div class="cust-toolbar">
    <a href="/aws_add_elastic_ip/{{ env_id }}" class="btn btn-success btn-sm"><span class="fa fa-plus-circle"></span> {% trans 'Add Elastic IP' %}</a>
    <a href="/aws_release_all_elastic_ip/{{ env_id }}" class="btn btn-danger btn-sm"><span class="fa fa-times-circle-o"></span> {% trans 'Release Unused Elastic IPs' %}</a>
</div>
<div class="panel panel-default">

        <table width="100%" class="table table-striped dataTable table-condensed table-hover elastic_ip_table">
            <thead>
            <th>Allocation ID</th>
            <th>Elastic IP</th>
            <th>Instance</th>
            <th>Private IP</th>
            <th>Options</th>
            </thead>
            <tbody>
              {% for ad in addresses %}
            <tr>
                <td>{{ ad.allocation_id }}</td>
                <td>{{ ad.public_ip }}</td>
                {% if ad.instance_name == 'Available' %}
                <td><span class='label label-success'>{{ad.instance_name}}</span></td>
                {% else %}
                <td>{{ ad.instance_name }}</td>
                {% endif %}
                <td>{{ ad.private_ip_address }}</td>
                <td>
                  {% if ad.instance_name == 'Available' %}
                    <a title="{% trans 'Delete this Elastic IP' %}" href="/aws_release_elastic_ip/{{env_id}}/{{ad.allocation_id}}" class="btn btn-danger btn-xs icon-delete"></a>
                       {% endif %}
                </td>
            </tr>
              {% endfor %}
        </table>
</div>

<script>
$('.elastic_ip_table').dataTable();
$('.cust-toolbar').appendTo('#tab-elastic-ips .dataTables_toolbar');
</script>
