{% load i18n %}
<div class="btn-toolbar">
    <a href="/aws_add_elastic_ip/{{ env_id }}" class="btn btn-default">{% trans 'Add Elastic IP' %}</a>
    <a href="/aws_release_all_elastic_ip/{{ env_id }}" class="btn btn-default">{% trans 'Release Unused Elastic IPs' %}</a>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Existing Elastic IP Objects</div>
    <div class="panel-body">
        <table width="100%" class="table table-striped dataTable table-condensed table-hover">
            <thead>
            <th>Allocation ID</th>
            <th>Elastic IP</th>
            <th>Instance</th>
            <th>Private IP</th>
            <th>Options</th>
            </thead>
            <tbody>
              {% for ad in addresses %}
            <tr>
                <td>{{ ad.allocation_id }}</td>
                <td>{{ ad.public_ip }}</td>
                <td>{{ ad.instance_name }}</td>
                <td>{{ ad.private_ip_address }}</td>
                <td>
                  {% if ad.instance_name == 'Available' %}
                    <a title="{% trans 'Delete this Elastic IP' %}" href="/aws_release_elastic_ip/{{env_id}}/{{ad.allocation_id}}" class="icon-delete"></a>
                       {% endif %}
                </td>
            </tr>
              {% endfor %}
        </table>
    </div>
</div>
