{% load i18n %}
<div class="btn-toolbar">
    <a href="/add_sample_message/{{server.id}}/" class="btn btn-default open-dialog">
        {% trans 'Add Message' %}</a>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Sample messages</div>
    <div class="panel-body">
        <table width="100%" class="table table-striped">
            <thead>
            <th>Messages</th>
            <th>&nbsp;</th>
            </thead>
            <tbody>
            {% for m in messages %}
            <tr>
                <td>{{ m.txt_value }}</td>
                <td>
                    <a title="{% trans 'Delete this sample message' %}"
                       href="/delete_sample_message/{{ server.id }}/message/{{ m.id }}/"
                       class="icon-delete open-dialog"></a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
